<h1>Login</h1>
<%= form_tag sessions_path, method: :post do %>
  <div class="form_group">
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me %>
  </div>

  <p><%= link_to 'Forget your password?', new_reset_password_path %></p>

  <%= submit_tag 'Log In', class: 'btn btn-primary btn-lg' %>
<% end %>