<h1>Registration</h1>
<%= form_for @user do |f| %>
<%= render 'shared/error_messages', object: @user %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>

    <%= f.submit 'Register', class: 'btn btn-primary btn-lg' %>
<% end %>