<!DOCTYPE html>
<html>
  <head>
    <title>SorceryAuth2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-inverse">
     <div class="container">
       <div class="navbar-header">
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
       </div>
       <div id="navbar">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <p><%= link_to 'Secret Page', secret_path %></p>
          <% else %>
            <button class="btn"><%= link_to 'Sign Up', sign_up_path %></button>
            <button><%= link_to 'Log In', log_in_path %></button>
          <% end %>
        </ul>
        <% if current_user %>
          <ul class="nav navbar-nav">
            <li><span><%= current_user.email.split('@').first %></span></li>
            <button><%= link_to 'Log Out', log_out_path, method: :delete %></button>
          </ul>
          <% end %>
       </div>
     </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  
  </body>
</html>
